* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: lightgrey;
}
.main-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding:15px 0px 15px;
    }
#vector {
    height:66.8px;
    width: 68px;
    margin-bottom: 26px;
    margin-top: 28px;
}
#heading_text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 15px;

}
#text {

    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #767676;
    margin-bottom: 42px;
    text-transform: capitalize;

}