body
{
    background-color: #767676;
}
.info_details
{
    padding:1% 1% 1% 1% ;
    height: 665px;
    width:570px;
    background: #FFFFFF;
    left:0px;
    top:0px;
}



.label
{

    display:block;
    margin-bottom:5px;
    margin-top:5px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #767676;

}


#full_name
{
    width: 521px;
    height: 50px;
    left: 25px;
    top: 55px;
    background: #F0F0F6;
    border: none;
}

#email
{
    width: 521px;
    height: 50px;
    left: 25px;
    top: 160px;
    background: #F0F0F6;
    border: none;
}

#subject
{
    width: 521px;
    height: 50px;
    left: 25px;
    top: 265px;
    background: #F0F0F6;
    border: none;
}

#message
{
    width: 521px;
    height: 210px;
    left: 25px;
    top: 370px;
    background: #F0F0F6;
    border: none;
}

#send_message
{
    display: block;
    margin-top: 5px;
    background-color: yellow;
    border: none;
    padding:5px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: black;
}