*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: lightgrey;
}
.main-div{
    background-color: white;
    margin: 10px;
    padding:10px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.a-div{
    display:flex;
    gap:10px;

} 
#icon{
    height:17.37px;
    width:18px;
}
.b-div{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #2B2B2B;
}
.c-div{
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}
#profile-pic {
    height: 80px;
    width: 80px;
    
}
.d-div {
    display: flex;
    gap:27px;
    align-items: center;
}
.d-2-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    
}
.d-2-1-div {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color:#2B2B2B;

}
.d-2-2-div {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#767676;


}